<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LanchesVendas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LanchesVendas.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/imagens/hamburguer.png" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-black bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img src="~/imagens/hamburguer.png" style="max-width:30px;max-height:30px"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" style="margin-left:30px" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" style="margin-left:30px" asp-controller="Lanche" asp-action="Index">Lanches</a>
                        </li>
                        <li>
                            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" style="margin-left:30px;color:white" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                            Categorias
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                                            <li><a class="dropdown-item" asp-controller="Lanche" asp-action="Categoria" asp-route-id="1">Normais</a></li>
                                            <li><a class="dropdown-item" asp-controller="Lanche" asp-action="Categoria" asp-route-id="2">Naturais</a></li>
                                            <li><a class="dropdown-item" asp-controller="Lanche" asp-action="Categoria" asp-route-id="3">Especiais</a></li>
                                            <li><a class="dropdown-item" asp-controller="Lanche" asp-action="Categoria" asp-route-id="4">Vegano</a></li>
                                            <li><a class="dropdown-item" asp-controller="Lanche" asp-action="Categoria" asp-route-id="5">Bebidas</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
     <footer class="border-top footer bg-black text-center text-white">
  <div class="container">
    <section>
      <a class="btn btn-outline-light btn-floating" href="https://www.linkedin.com/in/vinicius-dias-a8495b236/" role="button"
        ><i class="fab fa-linkedin-in"><img src="~/imagens/linkedin.png"/></i
      ></a>
      <a class="btn btn-outline-light btn-floating" href="https://github.com/ViniciusDiasAmorim/VendaLanches" role="button"
        ><i class="fab fa-github"><img src="~/imagens/github2.png" style="max-widh:32px;max-height:32px"/></i
      ></a>
    </section>
  </div>
  <div class="text-center" style="background-color:gba(0, 0, 0, 0.2);">
    © 2020 - Criado por Vinicius Dias
  </div>
  </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
