@model IEnumerable<LanchesVendas.Models.Lanche>

@{
    ViewData["Title"] = "Categorias";
}

<h1>Categoria dos Lanches: @ViewBag.categorias</h1>

<div class="container" style="background-color:beige;margin-bottom:100px">
    <div class="row">
        @foreach (var item in Model)
        {
            <partial name="_ExibeLanches" for="@item"></partial>
        }
    </div>
</div>
