@model LancheViewModel

@{
    ViewData["Title"] = "Lanches";
}
<h1>@ViewBag.ProcuraLanche</h1>

<div class="container" style="background-color:beige;margin-bottom:100px">
    <div class="row">
        @foreach (var item in Model.Lanches)
        {
            <partial name="_ExibeLanches" for="@item"></partial>
        }
    </div>
</div>
